.App {
  text-align: center;
}

.step{
  border: 5px solid black;
  font:700 20px HelveticaNeue, Helvetica, Arial;
   margin-right: 20px;
   padding:20px;
}

.steps{
  margin: 20px O;
  overflow: hidden;
}

.steps.selected{
  border-color: #3BA8AA
}
