.App {
  text-align: center;
}

.step{
  border: 5px solid #ccc;
  font:700 20px HelveticaNeue, Helvetica, Arial;
   margin:0 auto;
   padding:20px;
   max-width: 600px;
}

.step.selected{
  border-color: #3BA8AA
}


.steps{
  /*margin: 20px O;*/
  overflow: hidden;
}

.step.selected{
  border-color: #3BA8AA
}

/*flexBox
flec Basis*/
